<%= form_tag(job_path(@job, @current_tab_name), method: :get, class: "build-filter-form") do %>
  <div>
    <%= select_tag "branch_name",
      options_for_select(branch_names, @branch_name),
      prompt: "Branch" %>
  </div>

  <div style="margin: 10px 0">
    Build status:
    <% %w(Passed Failed).each do |status| %>
      <span class="checkbox-container">
        <%= label_tag "status_#{status.downcase}", status %>
        <%= check_box_tag "statuses[]", status, checked?(status), id: "status_#{status.downcase}" %>
      </span>
    <% end %>
  </div>

  <div class="flex">
    <%= submit_tag "Apply" %>
    <%= submit_tag "Clear", name: "clear" %>
  </div>
<% end %>
