<div class="build-detail-header">
  <div>
    <h2><%= @build.commit_message %></h2>
    <h3>Commit <code><%= abbreviated_hash(@build.commit_hash) %></code></h3>
  </div>

  <div>
    <%= button_to "Rerun", rebuilds_path(build_id: @build.id), method: :post %>
  </div>
</div>

<div class="build-detail-content">
  <% if @build.report.present? %>
    <pre class="terminal"><%= @build.report %></pre>
  <% end %>

  <% if @build.build_logs.any? %>
    <% @build.build_logs.each do |build_log| %>
      <pre class="terminal"><%= ansi_to_html(build_log.content) %></pre>
      <br>
    <% end %>
  <% end %>

  <% if @build.build_events.any? %>
    <table border>
      <tr>
        <th>Time</th>
        <th>Event</th>
      </tr>

      <% @build.build_events.each do |build_event| %>
        <tr>
          <td><%= build_event.created_at %></td>
          <td><%= build_event.type %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    Waiting for build machine
  <% end %>
</div>
