<%= terminal_output do %>
  <% @build.jobs.each do |job| %>
    <%= job_container @current_tab_name, job do %>
      <table border>
        <tr>
          <th>Event</th>
          <th>Timestamp</th>
          <th>Duration (s)</th>
        </tr>
        <% job.job_events.each_with_index do |job_event, index| %>
          <tr>
            <td><%= job_event.type %></td>
            <td><%= job_event.created_at %></td>
            <td class="number">
              <% if index > 0 %>
                <%= (job_event.created_at - job.job_events[index - 1].created_at).round(2) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  <% end %>
<% end %>
