<% if @builds.any? %>
  <ul data-controller="build">
    <% @builds.each do |build| %>
      <li>
        <%= link_to project_build_path(@project, build),
          data: { turbo_frame: "build_frame", action: "click->build#makeActive", build_target: "link" },
          id: "build_link_#{build.id}" do %>

          <div>
            <code><%= build.branch_name.truncate(20) %></code>
            <code><%= abbreviated_hash(build.commit_hash) %></code>
            <%= build.commit_message.truncate(100) %>
          </div>

          <div>
            <%= build.created_at %>
            <%= build.author_name %>
          </div>

          <div style="display: flex">
            <div class="build-status-<%= build.status.downcase %>"><%= build.status %></div>
            <%= build.duration_formatted %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  (No builds)
<% end %>
