<% if @build_list.builds.any? %>
  <%= form_tag(project_build_path(@build.project, @build), method: :get, class: "build-filter-form") do %>
    <%= select_tag "branch_name", options_for_select(@build_list.branch_names), prompt: "Branch" %>
    <%= submit_tag "Apply" %>
  <% end %>

  <ul data-controller="build-list">
    <% @build_list.builds.each do |build| %>
      <li>
        <%= link_to project_build_path(@build.project, build),
          data: { turbo_frame: "build", action: "click->build-list#makeActive", build_list_target: "link" },
          class: build == @build ? "active" : "",
          id: "build_link_#{build.id}" do %>

          <div style="display: flex; justify-content: space-between">
            <div>
              <div>
                <div style="line-height: 1.3; margin-bottom: 6px; max-width: 400px;">
                  <%= build.commit_message.truncate(80) %>
                </div>

                <div style="margin-bottom: 6px">
                  <span class="build-commit">
                    <code><%= build.branch_name.truncate(20) %></code>
                    <code><%= abbreviated_hash(build.commit_hash) %></code>
                  </span>

                  <span style="color: #999; margin-left: 6px">
                    <%= build.author_name %>
                    <%= build.created_at.in_time_zone.strftime("%-m/%-d/%Y %H:%M %Z") %>
                  </span>
                </div>
              </div>
            </div>

            <div style="width: 80px; text-align: center">
              <div class="build-status build-status-<%= build.status.downcase %>">
                <%= build.status %>
              </div>

              <span style="color: #999"><%= build.duration_formatted %></span>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  (No builds)
<% end %>
