<% if @builds.any? %>
  <ul data-controller="build-list">
    <% @builds.each do |build| %>
      <li>
        <%= link_to project_build_path(@project, build),
          data: { turbo_frame: "build_frame", action: "click->build-list#makeActive", build_list_target: "link" },
          class: build == @build ? "active" : "",
          id: "build_link_#{build.id}" do %>

          <div style="display: flex; justify-content: space-between">
            <div>
              <div>
                <div>
                  <%= build.commit_message.truncate(100) %>
                </div>

                <div style="margin: 6px 0">
                  <span style="background-color: #EEE; border: 1px solid #DDD; padding: 2px 6px">
                    <code><%= build.branch_name.truncate(20) %></code>
                    <code><%= abbreviated_hash(build.commit_hash) %></code>
                  </span>

                  <span style="color: #999; margin-left: 6px">
                    <%= build.author_name %>
                    <%= build.created_at %>
                  </span>
                </div>
              </div>
            </div>

            <div style="width: 80px; text-align: center">
              <div class="build-status-<%= build.status.downcase %>" style="border: 1px solid #000; padding: 4px; margin-bottom: 4px">
                <%= build.status %>
              </div>

              <span style="color: #999"><%= build.duration_formatted %></span>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  (No builds)
<% end %>
