<%= turbo_frame_tag "build", class: "build-inner", data: { turbo_action: "advance" } do %>
  <div class="build-header">
    <div>
      <h2><%= @build.commit_message %></h2>
      <h3>Commit <code><%= abbreviated_hash(@build.commit_hash) %></code></h3>
    </div>

    <div class="build-action-buttons">
      <%= button_to "Rerun", rebuilds_path(build_id: @build.id), method: :post, data: { turbo: false } %>
      <%= button_to "Delete", project_build_path(id: @build.id), method: :delete, data: { turbo: false } %>
    </div>
  </div>

  <%= turbo_frame_tag "build_details", class: "build-details", data: { turbo_action: "advance" } do %>
    <div class="build-navigation">
      <%= link_to "System Logs", project_build_system_logs_path(@build.project, @build),
        class: @partial == "system_logs" ? "active" : "",
        data: { turbo_frame: "build_details" } %>

      <%= link_to "Test Report", project_build_test_report_path(@build.project, @build),
        class: @partial == "test_report" ? "active" : "",
        data: { turbo_frame: "build_details" } %>
    </div>

    <div class="build-details-content">
      <%= render @partial %>
    </div>
  <% end %>
<% end %>
