<div class="terminal-container">
  <%= terminal_tag do %>
    <% @build.jobs.each do |job| %>
      <div id="<%= dom_id(job) %>">
        <%= "-" * 40 %><br>
        Job <%= job.order_index %><br>
        <%= "-" * 40 %><br><br>
        <% if job.test_output.present? %>
          <%= ansi_to_html(job.test_output) %>
        <% else %>
          Nothing here yet
        <% end %>
      </div>
      <br>
    <% end %>
  <% end %>
</div>
