<%= form_tag(project_build_path(@project, @build), method: :get) do %>
  <%= select_tag "branch_name", options_for_select(@branch_names), prompt: "Branch" %>
  <%= submit_tag "Apply" %>
<% end %>

<div class="build-wrapper">
  <div class="build-list">
    <%= render "builds/list" %>
  </div>

  <div class="build-detail">
    <%= turbo_frame_tag "build_frame" do %>
      <%= render "builds/detail" %>
    <% end %>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", () => {
  document.querySelectorAll("[data-turbo-frame='build_frame']").forEach(link => {
    link.addEventListener("click", (event) => {
      const url = link.getAttribute('href');
      history.pushState({}, '', url);
    });
  });
});
</script>
