<%= turbo_frame_tag "build", class: "build-inner", data: { turbo_action: "advance" } do %>
  <div class="build-header">
    <div>
      <h2><%= @build.commit_message.truncate(80) %></h2>

      <h3>
        Branch: <code><%= @build.branch_name %></code>
        Commit: <code><%= abbreviated_hash(@build.commit_hash) %></code>
      </h3>
    </div>

    <div class="build-action-buttons">
      <%= button_to "Rerun", rebuilds_path(build_id: @build.id), method: :post, data: { turbo: false } %>
      <%= button_to "Delete", project_build_path(id: @build.id), method: :delete, data: { turbo: false } %>
    </div>
  </div>

  <%= turbo_frame_tag "build_details", class: "build-details", data: { turbo_action: "advance" } do %>
    <div class="build-navigation">
      <% build_navigation(@build, current_tab_name) do |nav| %>
        <%= nav.item "System Logs", "system_logs" %>
        <%= nav.item "Events", "events" %>
        <%= nav.item "Test Report", "test_report" %>
        <%= nav.item "Test Output", "test_output" %>
      <% end %>
    </div>

    <div class="job-menu-container">
      <ul class="job-menu">
        <% @build.jobs.each do |job| %>
          <li>
            <%= link_to "Job #{job.order_index}",
              job_detail_content_project_build_job_path(@build.project, @build, job, current_tab_name),
              class: job == @job ? "active" : "" %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="build-details-content-container">
      <%= turbo_frame_tag "build_details_content_#{@current_tab_name}" do %>
        <%= render current_tab_name, current_tab_name: @current_tab_name, job: @job %>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= turbo_stream_from "job_#{@job.id}_system_logs" %>
