<h1><%= @project %></h1>

<h2>Builds</h2>

<% if @builds.any? %>
  <table border>
    <tr>
      <th>Start</th>
      <th>Branch</th>
      <th>Commit</th>
      <th>Status</th>
      <th>Duration</th>
      <th>Actions</th>
    </tr>

    <% @builds.each do |build| %>
      <tr>
        <td><%= link_to build.created_at, build %></td>
        <td><%= build.branch_name %></td>
        <td><code><%= build.commit[0..7] %></code></td>
        <td><%= build.status %></td>
        <td><%= build.duration_formatted %></td>
        <td>
          <%= button_to "Rerun", rebuilds_path(build_id: build.id), method: :post %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  (No builds)
<% end %>
