<h1>Installations</h1>
<br>

<%= link_to "New Installation", ENV["SATURNCI_INSTALLATION_URL"] %>
<br>

<% if @saturn_installations.any? %>
  <table border>
    <tr>
      <th>Name</th>
      <th>GitHub Installation ID</th>
      <th colspan="2"></th>
    </tr>

    <% @saturn_installations.each do |saturn_installation| %>
      <tr>
        <td><%= saturn_installation.name %></td>
        <td><%= saturn_installation.github_installation_id %></td>

        <td>
          <%= link_to "Add Project",
            new_saturn_installation_project_integration_path(saturn_installation) %>
        </td>

        <td>
          <%= link_to "Remove",
            saturn_installation_path(saturn_installation),
            data: { turbo_method: :delete } %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  (No installations)
<% end %>
