<!DOCTYPE html>
<html>
  <head>
    <title>Saturn</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if current_user.present? %>
      Signed in as <%= current_user.name %>
      <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
      <%= link_to "Projects", projects_path %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path %>
      <%= link_to "Sign up", new_user_registration_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
