<!DOCTYPE html>
<html>
  <head>
    <title>Saturn</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <% if current_user.present? %>
        <div style="display: flex;justify-content: space-between">
          <div>
            <b><%= link_to "SaturnCI", root_path %></b>
            <%= link_to "Projects", projects_path %>

            <%= select_tag "project_id",
              options_from_collection_for_select(Project.all, :id, :name, @project&.id),
              include_blank: true,
              onchange: "window.location.href = '#{Rails.application.routes.url_helpers.projects_path}' + '/' + this.value" %>
          </div>

          <div>
            Signed in as <%= current_user.name %>
            <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
          </div>
        </div>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %>
        <%= link_to "Sign up", new_user_registration_path %>
      <% end %>
    </header>

    <%= yield %>
  </body>
</html>
